---
# Tasks specific for RedHat systems

- name: "RedHat | Set some facts Zabbix < 3.0"
  set_fact:
    apache_log: httpd
    datafiles_path: "/usr/share/doc/zabbix-proxy-{{ zabbix_proxy_database }}-{{ zabbix_version }}*/create"
  when:
    - zabbix_version is version_compare('3.0', '<')
  tags:
    - zabbix-proxy

- name: "RedHat | Set facts for Zabbix >= 3.0"
  set_fact:
    apache_log: httpd
    datafiles_path: "/usr/share/doc/zabbix-proxy-{{ zabbix_proxy_database }}-{{ zabbix_version }}*"
  when:
    - zabbix_version is version_compare('3.0', '>=')
  tags:
    - zabbix-proxy

- name: "RedHat | Install basic repo file"
  yum_repository:
    name: "{{ item.name }}"
    description: "{{ item.description }}"
    baseurl: "{{ item.baseurl }}"
    gpgcheck: "{{ item.gpgcheck }}"
    gpgkey: "{{ item.gpgkey }}"
    state: "{{ item.state | default('present') }}"
  become: yes
  with_items: "{{ zabbix_repo_yum }}"
  tags:
    - zabbix-agent

- name: "RedHat | Installing zabbix-proxy-{{ zabbix_proxy_database }}"
  yum:
    pkg: zabbix-proxy-{{ zabbix_proxy_database }}
    state: "{{ zabbix_proxy_package_state }}"
  become: yes
  register: is_zabbix_proxy_package_installed
  until: is_zabbix_proxy_package_installed is succeeded

- name: "RedHat | Install Ansible PostgreSQL module dependencies"
  yum:
    name: python-psycopg2
    state: present
  become: yes
  register: are_zabbix_proxy_dependency_packages_installed
  until: are_zabbix_proxy_dependency_packages_installed is succeeded
  when:
    - zabbix_database_creation or zabbix_database_sqlload
    - zabbix_proxy_database == 'pgsql'
  tags:
    - zabbix-proxy
    - init

- name: "RedHat | Install Mysql Client package RHEL7"
  yum:
    name: ['mariadb', 'MySQL-python']
    state: installed
  become: yes
  register: are_zabbix_proxy_dependency_packages_installed
  until: are_zabbix_proxy_dependency_packages_installed is succeeded
  when:
    - zabbix_database_creation or zabbix_database_sqlload
    - zabbix_proxy_database == 'mysql'
    - ansible_distribution_major_version == '7'
  tags:
    - zabbix-proxy
    - init

- name: "RedHat | Install Mysql Client package RHEL5 - 6"
  yum:
    name: ['mysql', 'MySQL-python']
    state: present
  become: yes
  register: are_zabbix_proxy_dependency_packages_installed
  until: are_zabbix_proxy_dependency_packages_installed is succeeded
  when:
    - zabbix_database_creation or zabbix_database_sqlload
    - zabbix_proxy_database == 'mysql'
    - ansible_distribution_major_version != '7'
    - zabbix_proxy_install_database_client
  tags:
    - zabbix-proxy
    - init
    - database

- name: "RedHat | Install PostgreSQL client package"
  yum:
    name: postgresql
    state: present
  become: yes
  register: are_zabbix_proxy_dependency_packages_installed
  until: are_zabbix_proxy_dependency_packages_installed is succeeded
  when:
    - zabbix_database_creation or zabbix_database_sqlload
    - zabbix_proxy_database == 'pgsql'
    - zabbix_proxy_install_database_client
  tags:
    - zabbix-proxy
    - init
    - database
